@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>HowTo.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Use the Avisos section to create avisos.  By checking the send SMS box you will send the alert to all the of the phone numbers in the contact section.
    </p>

    <p>
        People can sign up for the Avisos either through the site or you can enter them by hand in the Contacts section.
    </p>

    <p>
        Avisos that are created are also visble on the miparque.org.  When you create an Aviso they will appear on the website site whether you send them as SMS or not.
    </p>
</article>

